/* Univeral Styles */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

/* Home Page Styles */

